gris_oscuro = #444

header
	background-color gris_oscuro
	color white
	overflow hidden

nav
	background-color black

footer
	background-color gris_oscuro
	color white
	overflow hidden

.foo
	&:after
	&:before
		content: "--"
.formulario
	padding 1em
	margin 1em 0
.consulta
	background-color #DDD
	padding 1em
	margin 1em 0

.center
	text-align center